[alias]
	# Status
	s = status -sb
	sf = show --name-status --pretty=""
	
	# Commit helpers
	ci = "!f() { git commit -m \"$*\";}; f"
	ca = "!f() { git add . && git commit -m \"$*\";}; f" 

	# Checkou to existing branch
	co = checkout

	# Create and checkout to a branch
	cb = "!f() { git checkout -b $1 2> /dev/null && echo Created new branch $1 || `git checkout $1`; }; f"
	
	# Compare local and remote
	ahead = "!sh -c 'echo branch is $(git rev-list --count origin/$0..HEAD) commits ahead dev'"
	behind = "!sh -c 'echo branch is $(git rev-list --count HEAD..origin/$0) commits behind dev'"

	# Log
  l = !git log --pretty=format:'%C(blue)%h%C(red)%d %C(white)%s - %C(cyan)%cn, %C(green)%cr' 
  la = !git log --graph --pretty=format:'%C(blue)%h%C(red)%d %C(white)%s - %C(cyan)%cn, %C(green)%cr' 
	
	# Log last commit
	last = log -1 HEAD --stat

	# Undo things
	unstage = reset HEAD --

	# Undo untracked files
	undo = checkout .

	# Reset last commit
	rollback = reset --soft HEAD~1

	# Diff
	d = !git diff --color-words | bat
	df = !git diff --name-status | bat

	# Delete a local branch
	db = branch -D

	# Delete a remote branch
	db-remote = !sh -c 'git push origin :$0'

	# Delete both the local and remote branches
	db-all = !sh -c 'git db $0 && git db-remote $0' 

	# Remove untracked files and directories
	cln = clean -f -d

	# Search
	se = !git rev-list --all | xargs git grep -F
	
	# Branches logs
	bl = branch --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(contents:subject) %(color:green)(%(committerdate:relative)) [%(authorname)]' --sort=-committerdate
	
	# Reset last commit
	pop = reset HEAD^
  
	# Cherry-pick
	cp = cherry-pick

  # Ammend las commit

  amend = !git add --all && git commit --amend --no-edit
  count = !git shortlog -s --grep

	df = "!git hist | awk '{print $2}' | xargs -I {} git diff {}^ {}"
  hist = log --pretty=format:\"%Cgreen%h %Creset%cd %Cblue[%cn] %Creset%s%C(yellow)%d%C(reset)\" --graph --date=relative --decorate --all

	open = "!gh repo view --web"
[color]
  status = auto
  diff = auto
  branch = auto
  interactive = auto
  grep = auto
	ui = auto
[core]
	abbrev = 7
	autocrlf = false
	bare = false
	hideDotFiles = dotGitOnly
	filemode = true
	logallrefupdates = true
	repositoryformatversion = 0
	editor = nvim
[credential]
	helper = cache --timeout=86400
[filter "lfs"]
	clean = git-lfs clean -- %f
	required = true
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[gc]
	auto = 0
	autodetach = false
[github]
	oauth-token = 
	user = rennanprysthon
[git-pull-request]
	close-default-comment = Merged. Thank you.
	color-display-title-user = cyan
	color-status = cyan
	fetch-auto-update = true
	update-method = rebase
[merge]
	renameLimit = 1000
[pull]
	rebase = true
[push]
	default = matching
[user]
	email = rennan.prysthon@liferay.com
	name = Rennan Prysthon
[init]
	defaultBranch = main
[diff]
  tool = nvimdiff
[difftool "nvimdiff"]
	cmd = nvim -d \"$LOCAL\" \"$REMOTE\"
[mergetool "nvimdiff"]
	cmd = nvim -d \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
